In [1]:
import sqlite3

# 메모리 DB 또는 파일 기반 DB 생성
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT
);
""")

# 데이터 삽입
cursor.executescript("""
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) VALUES
('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico'),
('Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico'),
('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
('Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
('Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
('Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
('Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
('Bon app''', 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
('Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
('Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico'),
('Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
('Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
('Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
('Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
('Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
('Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
('Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil');
""")

In [2]:
def query(query_msg):   # query 함수 제작
    cursor.execute(query_msg)
    rows = cursor.fetchall()

    for row in rows:
        print(row)

In [3]:
# SELECT 실행
query("SELECT * FROM Customers;")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(13, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(17, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(20, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil')

In [4]:
query("SELECT CustomerName, City FROM Customers;")

('Alfreds Futterkiste', 'Berlin')
('Ana Trujillo Emparedados y helados', 'México D.F.')
('Antonio Moreno Taquería', 'México D.F.')
('Around the Horn', 'London')
('Berglunds snabbköp', 'Luleå')
('Blauer See Delikatessen', 'Mannheim')
('Blondel père et fils', 'Strasbourg')
('Bólido Comidas preparadas', 'Madrid')
("Bon app'", 'Marseille')
('Bottom-Dollar Marketse', 'Tsawassen')
('Cactus Comidas para llevar', 'Buenos Aires')
('Centro comercial Moctezuma', 'México D.F.')
('Chop-suey Chinese', 'Bern')
('Comércio Mineiro', 'São Paulo')
('Consolidated Holdings', 'London')
('Drachenblut Delikatessen', 'Aachen')
('Du monde entier', 'Nantes')
('Eastern Connection', 'London')
('Ernst Handel', 'Graz')
('Familia Arquibaldo', 'Rio de Janeiro')

In [5]:
query("SELECT DISTINCT Country FROM Customers;")

('Germany',)
('Mexico',)
('UK',)
('Sweden',)
('France',)
('Spain',)
('Canada',)
('Argentina',)
('Switzerland',)
('Brazil',)
('Austria',)

In [6]:
query("SELECT * FROM Customers WHERE Country='Mexico';")

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')

In [7]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE Products (
    ProductID INTEGER PRIMARY KEY,
    ProductName TEXT,
    SupplierID INTEGER,
    CategoryID INTEGER,
    Unit TEXT,
    Price REAL
);
""")

# 데이터 삽입
cursor.executescript("""
INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, Unit, Price) VALUES
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.00),
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.00),
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.00),
(4, 'Chef Anton''s Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.00),
(5, 'Chef Anton''s Gumbo Mix', 2, 2, '36 boxes', 21.35);
""")

In [8]:
query("SELECT * FROM Products ORDER BY Price;")

(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)
(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0)

In [9]:
query("SELECT * FROM Customers WHERE Country = 'Germany' AND CustomerName LIKE 'A%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')

In [10]:
query("SELECT * FROM Customers WHERE Country = 'Germany' OR Country = 'Spain';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')

In [11]:
query("SELECT * FROM Customers WHERE NOT Country = 'Spain';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(13, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(17, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(20, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil')

In [12]:
query("INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');")

In [13]:
# SELECT 실행
query("SELECT * FROM Customers;")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(13, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(17, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(20, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil')
(21, 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway')

In [14]:
query("SELECT CustomerName, ContactName, Address FROM Customers WHERE Address IS NULL;")

In [15]:
query("UPDATE Customers SET ContactName = 'Alfred Schmidt', City= 'Frankfurt' WHERE CustomerID = 1;")

In [ ]:
query("UPDATE Customers SET ContactName='Juan' WHERE Country='Mexico';")

In [ ]:
query("UPDATE Customers SET ContactName='Juan';")

In [ ]:
query("DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';")

In [ ]:
query("DELETE FROM Customers;")

In [ ]:
query("DROP TABLE Customers;")

In [22]:
cursor.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT
);
""")

# 데이터 삽입
cursor.executescript("""
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country) VALUES
('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico'),
('Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico'),
('Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
('Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
('Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
('Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
('Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
('Bon app''', 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
('Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
('Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico'),
('Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland'),
('Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
('Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
('Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany'),
('Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France'),
('Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),
('Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil');
""")

In [24]:
query("SELECT * FROM Customers LIMIT 3;")  # sqlite3는 TOP을 지원하지 않아 LIMIT 3으로 대체

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')

In [25]:
query("SELECT MIN(Price) FROM Products;")

(10.0,)

In [26]:
query("SELECT MAX(Price) FROM Products;")

(22.0,)

In [27]:
query("SELECT MIN(Price) AS SmallestPrice FROM Products;")

(10.0,)

In [28]:
query("SELECT MIN(Price) AS SmallestPrice, CategoryID FROM Products GROUP BY CategoryID;")

(18.0, 1)
(10.0, 2)

In [29]:
query("SELECT COUNT(*) FROM Products;")

(5,)

In [30]:
query("SELECT COUNT(ProductName) FROM Products;")

(5,)

In [31]:
query("SELECT COUNT(ProductID) FROM Products WHERE Price > 20;")

(2,)

In [32]:
query("SELECT COUNT(DISTINCT Price) FROM Products;")

(5,)

In [33]:
query("SELECT COUNT(*) AS [Number of records] FROM Products;")

(5,)

In [34]:
query("SELECT COUNT(*) AS [Number of records], CategoryID FROM Products GROUP BY CategoryID;")

(2, 1)
(3, 2)

In [35]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS OrderDetails (
    OrderDetailID INTEGER PRIMARY KEY,
    OrderID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER
);
""")

# 데이터 삽입
cursor.execute("SELECT COUNT(*) FROM OrderDetails")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO OrderDetails (OrderDetailID, OrderID, ProductID, Quantity) VALUES
    (1, 1001, 1, 2),
    (2, 1001, 2, 1),
    (3, 1002, 3, 5),
    (4, 1003, 1, 1),
    (5, 1003, 5, 2),
    (6, 1004, 2, 3),
    (7, 1004, 4, 1),
    (8, 1005, 5, 4),
    (9, 1006, 3, 2),
    (10, 1007, 4, 1),
    (11, 1007, 2, 2),
    (12, 1008, 1, 3),
    (13, 1009, 5, 2),
    (14, 1010, 3, 4),
    (15, 1011, 4, 1),
    (16, 1011, 1, 2),
    (17, 1012, 2, 5),
    (18, 1013, 5, 1),
    (19, 1013, 3, 2),
    (20, 1014, 4, 3);
    """)

In [36]:
query("SELECT SUM(Quantity) FROM OrderDetails;")

(47,)

In [37]:
query("SELECT SUM(Quantity) FROM OrderDetails WHERE ProductId = 5;")

(9,)

In [38]:
query("SELECT SUM(Quantity) AS total FROM OrderDetails;")

(47,)

In [39]:
query("SELECT OrderID, SUM(Quantity) AS [Total Quantity] FROM OrderDetails GROUP BY OrderID;")

(1001, 3)
(1002, 5)
(1003, 3)
(1004, 4)
(1005, 4)
(1006, 2)
(1007, 3)
(1008, 3)
(1009, 2)
(1010, 4)
(1011, 3)
(1012, 5)
(1013, 3)
(1014, 3)

In [40]:
query("SELECT SUM(Quantity * 10) FROM OrderDetails;")

(470,)

In [41]:
query("SELECT SUM(Price * Quantity) FROM OrderDetails LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;")

(807.15,)

In [42]:
query("SELECT AVG(Price) FROM Products;")

(18.07,)

In [43]:
query("SELECT AVG(Price) FROM Products WHERE CategoryID = 1;")

(18.5,)

In [44]:
query("SELECT AVG(Price) AS [average price] FROM Products;")

(18.07,)

In [45]:
query("SELECT * FROM Products WHERE price > (SELECT AVG(price) FROM Products);")

(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)

In [46]:
query("SELECT AVG(Price) AS AveragePrice, CategoryID FROM Products GROUP BY CategoryID;")

(18.5, 1)
(17.783333333333335, 2)

In [47]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'a%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [48]:
query("SELECT * FROM Customers WHERE city LIKE 'L_nd__';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [49]:
query("SELECT * FROM Customers WHERE city LIKE '%L%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [50]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'Al%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')

In [51]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')

In [52]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '%a';")

(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')

In [53]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'b%s';")

(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')

In [54]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '%or%';")

(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [55]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'a__%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [56]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '_r%';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')

In [57]:
query("SELECT * FROM Customers WHERE Country LIKE 'Spain';")

(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')

In [58]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'a%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [59]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '%te';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')

In [60]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '%orn%';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [61]:
query("SELECT * FROM Customers WHERE City LIKE '_ondon';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [62]:
query("SELECT * FROM Customers WHERE City LIKE 'L___on';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [63]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '[A]%';")

In [64]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '[a-f]%';")

In [65]:
query("SELECT * FROM Customers WHERE CustomerName LIKE 'a__%';")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')

In [66]:
query("SELECT * FROM Customers WHERE CustomerName LIKE '_r%';")

(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')

In [67]:
query("SELECT * FROM Customers WHERE Country LIKE 'Spain';")

(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')

In [68]:
query("SELECT * FROM Customers WHERE Country IN ('Germany', 'France', 'UK');")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(17, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')

In [69]:
query("SELECT * FROM Customers WHERE Country NOT IN ('Germany', 'France', 'UK');")

(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(13, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(20, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil')

In [70]:
query("SELECT * FROM Customers WHERE CustomerID IN (SELECT CustomerID FROM OrderDetails);")

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico')
(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')
(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK')
(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')
(8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain')
(9, "Bon app'", 'Laurence Lebihan', '12, rue des Bouchers', 'Marseille', '13008', 'France')
(10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')
(11, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina')
(12, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico')
(13, 'Chop-suey Chinese', 'Yang Wang', 'Hauptstr. 29', 'Bern', '3012', 'Switzerland')
(14, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil')
(15, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK')
(16, 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(17, 'Du monde entier', 'Janine Labrune', '67, rue des Cinquante Otages', 'Nantes', '44000', 'France')
(18, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK')
(19, 'Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria')
(20, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'Rio de Janeiro', '05442-030', 'Brazil')

In [71]:
query("SELECT * FROM Customers WHERE CustomerID NOT IN (SELECT CustomerID FROM OrderDetails);")

In [72]:
query("SELECT * FROM Products WHERE Price BETWEEN 10 AND 20;")

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)

In [73]:
query("SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20;")

(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)

In [74]:
query("SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 AND CategoryID IN (1,2,3);")

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)

In [75]:
query("SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni' ORDER BY ProductName;")

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35)

In [76]:
query("SELECT * FROM Products  WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Chef Anton''s Cajun Seasoning' ORDER BY ProductName;")

(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18.0)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22.0)

In [77]:
query("SELECT * FROM Products WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni' ORDER BY ProductName;")

(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0)

In [81]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    EmployeeID INTEGER,
    OrderDate TEXT,
    ShipperID INTEGER
);
""")

# 데이터 삽입 (중복 방지)
cursor.execute("SELECT COUNT(*) FROM Orders")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, ShipperID) VALUES
    (10248, 90, 5, '1996-07-04', 3),
    (10249, 81, 6, '1996-07-05', 1),
    (10250, 34, 4, '1996-07-08', 2),
    (10251, 84, 3, '1996-07-09', 1),
    (10252, 76, 4, '1996-07-10', 2),
    (10253, 34, 3, '1996-07-11', 2),
    (10254, 14, 5, '1996-07-12', 2),
    (10255, 68, 6, '1996-07-15', 1),
    (10256, 88, 3, '1996-07-16', 2),
    (10257, 52, 1, '1996-07-17', 3),
    (10258, 61, 2, '1996-07-18', 1),
    (10259, 74, 4, '1996-07-19', 3),
    (10260, 39, 4, '1996-07-22', 2),
    (10261, 29, 2, '1996-07-23', 2),
    (10262, 93, 1, '1996-07-24', 1),
    (10263, 47, 5, '1996-07-25', 3),
    (10264, 59, 3, '1996-07-26', 2),
    (10265, 62, 2, '1996-07-29', 1),
    (10266, 25, 4, '1996-07-30', 2),
    (10267, 91, 6, '1996-07-31', 3);
    """)

conn.commit()

In [83]:
query("SELECT * FROM Orders WHERE OrderDate BETWEEN '1996-07-01' AND '1996-07-31';")

(10248, 90, 5, '1996-07-04', 3)
(10249, 81, 6, '1996-07-05', 1)
(10250, 34, 4, '1996-07-08', 2)
(10251, 84, 3, '1996-07-09', 1)
(10252, 76, 4, '1996-07-10', 2)
(10253, 34, 3, '1996-07-11', 2)
(10254, 14, 5, '1996-07-12', 2)
(10255, 68, 6, '1996-07-15', 1)
(10256, 88, 3, '1996-07-16', 2)
(10257, 52, 1, '1996-07-17', 3)
(10258, 61, 2, '1996-07-18', 1)
(10259, 74, 4, '1996-07-19', 3)
(10260, 39, 4, '1996-07-22', 2)
(10261, 29, 2, '1996-07-23', 2)
(10262, 93, 1, '1996-07-24', 1)
(10263, 47, 5, '1996-07-25', 3)
(10264, 59, 3, '1996-07-26', 2)
(10265, 62, 2, '1996-07-29', 1)
(10266, 25, 4, '1996-07-30', 2)
(10267, 91, 6, '1996-07-31', 3)

In [84]:
query("SELECT CustomerID AS ID FROM Customers;")

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)
(17,)
(18,)
(19,)
(20,)

In [85]:
query("SELECT CustomerID ID FROM Customers;")

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)
(17,)
(18,)
(19,)
(20,)

In [86]:
query("SELECT CustomerID AS ID, CustomerName AS Customer FROM Customers;")

(1, 'Alfreds Futterkiste')
(2, 'Ana Trujillo Emparedados y helados')
(3, 'Antonio Moreno Taquería')
(4, 'Around the Horn')
(5, 'Berglunds snabbköp')
(6, 'Blauer See Delikatessen')
(7, 'Blondel père et fils')
(8, 'Bólido Comidas preparadas')
(9, "Bon app'")
(10, 'Bottom-Dollar Marketse')
(11, 'Cactus Comidas para llevar')
(12, 'Centro comercial Moctezuma')
(13, 'Chop-suey Chinese')
(14, 'Comércio Mineiro')
(15, 'Consolidated Holdings')
(16, 'Drachenblut Delikatessen')
(17, 'Du monde entier')
(18, 'Eastern Connection')
(19, 'Ernst Handel')
(20, 'Familia Arquibaldo')

In [87]:
query("SELECT ProductName AS [My Great Products] FROM Products;")

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)

In [89]:
query("SELECT ProductName AS 'My Great Products' FROM Products;")

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)

In [90]:
query("SELECT CustomerName, Address + ', ' + PostalCode + ' ' + City + ', ' + Country AS Address FROM Customers;")

('Alfreds Futterkiste', 12209)
('Ana Trujillo Emparedados y helados', 5021)
('Antonio Moreno Taquería', 5023)
('Around the Horn', 120)
('Berglunds snabbköp', 0)
('Blauer See Delikatessen', 68306)
('Blondel père et fils', 67024)
('Bólido Comidas preparadas', 28023)
("Bon app'", 13020)
('Bottom-Dollar Marketse', 23)
('Cactus Comidas para llevar', 1010)
('Centro comercial Moctezuma', 5022)
('Chop-suey Chinese', 3012)
('Comércio Mineiro', 5432)
('Consolidated Holdings', 0)
('Drachenblut Delikatessen', 52066)
('Du monde entier', 44067)
('Eastern Connection', 35)
('Ernst Handel', 8010)
('Familia Arquibaldo', 5442)

In [91]:
query("SELECT CustomerName, CONCAT(Address,', ',PostalCode,', ',City,', ',Country) AS Address FROM Customers;")

('Alfreds Futterkiste', 'Obere Str. 57, 12209, Berlin, Germany')
('Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222, 05021, México D.F., Mexico')
('Antonio Moreno Taquería', 'Mataderos 2312, 05023, México D.F., Mexico')
('Around the Horn', '120 Hanover Sq., WA1 1DP, London, UK')
('Berglunds snabbköp', 'Berguvsvägen 8, S-958 22, Luleå, Sweden')
('Blauer See Delikatessen', 'Forsterstr. 57, 68306, Mannheim, Germany')
('Blondel père et fils', '24, place Kléber, 67000, Strasbourg, France')
('Bólido Comidas preparadas', 'C/ Araquil, 67, 28023, Madrid, Spain')
("Bon app'", '12, rue des Bouchers, 13008, Marseille, France')
('Bottom-Dollar Marketse', '23 Tsawassen Blvd., T2F 8M4, Tsawassen, Canada')
('Cactus Comidas para llevar', 'Cerrito 333, 1010, Buenos Aires, Argentina')
('Centro comercial Moctezuma', 'Sierras de Granada 9993, 05022, México D.F., Mexico')
('Chop-suey Chinese', 'Hauptstr. 29, 3012, Bern, Switzerland')
('Comércio Mineiro', 'Av. dos Lusíadas, 23, 05432-043, São Paulo, Brazil')
('Consolidated Holdings', 'Berkeley Gardens 12 Brewery, WX1 6LT, London, UK')
('Drachenblut Delikatessen', 'Walserweg 21, 52066, Aachen, Germany')
('Du monde entier', '67, rue des Cinquante Otages, 44000, Nantes, France')
('Eastern Connection', '35 King George, WX3 6FW, London, UK')
('Ernst Handel', 'Kirchgasse 6, 8010, Graz, Austria')
('Familia Arquibaldo', 'Rua Orós, 92, 05442-030, Rio de Janeiro, Brazil')

In [93]:
query("SELECT o.OrderID, o.OrderDate, c.CustomerName FROM Customers AS c, Orders AS o WHERE c.CustomerName='Alfreds Futterkiste' AND c.CustomerID=o.CustomerID;")

In [94]:
query("SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate FROM Orders INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;")

(10254, 'Comércio Mineiro', '1996-07-12')

In [96]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS Categories (
    CategoryID INTEGER PRIMARY KEY,
    CategoryName TEXT,
    Description TEXT
);
""")

# 데이터 삽입
cursor.execute("SELECT COUNT(*) FROM Categories")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES
    (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
    (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
    (3, 'Confections', 'Desserts, candies, and sweet breads'),
    (4, 'Dairy Products', 'Cheeses, milk, yogurts, and other dairy items'),
    (5, 'Grains/Cereals', 'Breads, cereals, crackers, pasta, and rice'),
    (6, 'Meat/Poultry', 'Prepared and fresh meats'),
    (7, 'Produce', 'Dried fruit and bean curd, fresh vegetables'),
    (8, 'Seafood', 'Seaweed and fish products'),
    (9, 'Snacks', 'Chips, cookies, and packaged snack foods'),
    (10, 'Frozen Foods', 'Frozen meals, vegetables, and desserts'),
    (11, 'Baking Goods', 'Flour, sugar, baking powder, cake mixes'),
    (12, 'Canned Goods', 'Canned fruits, vegetables, and soups'),
    (13, 'Pasta & Rice', 'Spaghetti, macaroni, instant rice, noodles'),
    (14, 'Sauces & Oils', 'Cooking oils, ketchup, mustard, mayonnaise'),
    (15, 'Breakfast Foods', 'Cereals, pancake mix, syrup'),
    (16, 'Soups & Broths', 'Instant soups, bouillon, stew bases'),
    (17, 'Baby Foods', 'Formula, baby cereal, puree pouches'),
    (18, 'Pet Supplies', 'Pet food, treats, and pet care items'),
    (19, 'Cleaning Supplies', 'Detergents, dish soap, surface cleaners'),
    (20, 'International', 'Imported specialty food items')
    """)

conn.commit()

In [97]:
query("SELECT ProductID, ProductName, CategoryName FROM Products INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;")

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')

In [98]:
query("SELECT Products.ProductID, Products.ProductName, Categories.CategoryName FROM Products INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;")

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')

In [99]:
query("SELECT Products.ProductID, Products.ProductName, Categories.CategoryName FROM Products JOIN Categories ON Products.CategoryID = Categories.CategoryID;")

(1, 'Chais', 'Beverages')
(2, 'Chang', 'Beverages')
(3, 'Aniseed Syrup', 'Condiments')
(4, "Chef Anton's Cajun Seasoning", 'Condiments')
(5, "Chef Anton's Gumbo Mix", 'Condiments')

In [101]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS Shippers (
    ShipperID INTEGER PRIMARY KEY,
    ShipperName TEXT,
    Phone TEXT
);
""")

# 데이터 삽입 (중복 방지)
cursor.execute("SELECT COUNT(*) FROM Shippers")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO Shippers (ShipperID, ShipperName, Phone) VALUES
    (1, 'Speedy Express', '(503) 555-9831'),
    (2, 'United Package', '(503) 555-3199'),
    (3, 'Federal Shipping', '(503) 555-9931'),
    (4, 'Quick Logistics', '(503) 555-0101'),
    (5, 'Global Courier', '(503) 555-0202'),
    (6, 'Lightning Freight', '(503) 555-0303'),
    (7, 'Alpha Express', '(503) 555-0404'),
    (8, 'BlueSky Delivery', '(503) 555-0505'),
    (9, 'Pacific Freight', '(503) 555-0606'),
    (10, 'TurboShip', '(503) 555-0707'),
    (11, 'Greenline Shipping', '(503) 555-0808'),
    (12, 'NexDay Logistics', '(503) 555-0909'),
    (13, 'Orbit Express', '(503) 555-1010'),
    (14, 'Metro Courier', '(503) 555-1111'),
    (15, 'Echo Freight', '(503) 555-1212'),
    (16, 'IronClad Delivery', '(503) 555-1313'),
    (17, 'EagleShip', '(503) 555-1414'),
    (18, 'RoadRunner Logistics', '(503) 555-1515'),
    (19, 'Titan Couriers', '(503) 555-1616'),
    (20, 'SwiftMove Express', '(503) 555-1717');
    """)

conn.commit()

In [ ]:
query("SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName FROM ((Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID) INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);")

(10254, 'Comércio Mineiro', 'United Package')

In [104]:
query("""SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;""")

('Alfreds Futterkiste', None)
('Ana Trujillo Emparedados y helados', None)
('Antonio Moreno Taquería', None)
('Around the Horn', None)
('Berglunds snabbköp', None)
('Blauer See Delikatessen', None)
('Blondel père et fils', None)
("Bon app'", None)
('Bottom-Dollar Marketse', None)
('Bólido Comidas preparadas', None)
('Cactus Comidas para llevar', None)
('Centro comercial Moctezuma', None)
('Chop-suey Chinese', None)
('Comércio Mineiro', 10254)
('Consolidated Holdings', None)
('Drachenblut Delikatessen', None)
('Du monde entier', None)
('Eastern Connection', None)
('Ernst Handel', None)
('Familia Arquibaldo', None)

In [106]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INTEGER PRIMARY KEY,
    LastName TEXT,
    FirstName TEXT,
    BirthDate TEXT,
    Photo TEXT
);
""")

# 데이터 삽입 (중복 방지)
cursor.execute("SELECT COUNT(*) FROM Employees")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO Employees (EmployeeID, LastName, FirstName, BirthDate, Photo) VALUES
    (1, 'Davolio', 'Nancy', '1968-12-08', 'EmpID1.pic'),
    (2, 'Fuller', 'Andrew', '1952-02-19', 'EmpID2.pic'),
    (3, 'Leverling', 'Janet', '1963-08-30', 'EmpID3.pic'),
    (4, 'Peacock', 'Margaret', '1937-09-19', 'EmpID4.pic'),
    (5, 'Buchanan', 'Steven', '1955-03-04', 'EmpID5.pic'),
    (6, 'Suyama', 'Michael', '1963-07-02', 'EmpID6.pic'),
    (7, 'King', 'Robert', '1960-05-29', 'EmpID7.pic'),
    (8, 'Callahan', 'Laura', '1958-01-09', 'EmpID8.pic'),
    (9, 'Dodsworth', 'Anne', '1966-01-27', 'EmpID9.pic'),
    (10, 'Wong', 'Lily', '1980-06-14', 'EmpID10.pic'),
    (11, 'Chen', 'James', '1975-09-22', 'EmpID11.pic'),
    (12, 'Miller', 'Susan', '1972-12-03', 'EmpID12.pic'),
    (13, 'Kim', 'Daniel', '1985-04-11', 'EmpID13.pic'),
    (14, 'Park', 'Emily', '1990-02-18', 'EmpID14.pic'),
    (15, 'Lee', 'Brian', '1979-11-01', 'EmpID15.pic'),
    (16, 'Choi', 'Jessica', '1982-03-28', 'EmpID16.pic'),
    (17, 'Nguyen', 'David', '1984-07-07', 'EmpID17.pic'),
    (18, 'Patel', 'Ravi', '1983-10-13', 'EmpID18.pic'),
    (19, 'Yamada', 'Hiroshi', '1971-08-05', 'EmpID19.pic'),
    (20, 'Gonzalez', 'Maria', '1977-06-20', 'EmpID20.pic');
    """)

conn.commit()

In [107]:
query("""SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;""")

(None, 'King', 'Robert')
(None, 'Callahan', 'Laura')
(None, 'Dodsworth', 'Anne')
(None, 'Wong', 'Lily')
(None, 'Chen', 'James')
(None, 'Miller', 'Susan')
(None, 'Kim', 'Daniel')
(None, 'Park', 'Emily')
(None, 'Lee', 'Brian')
(None, 'Choi', 'Jessica')
(None, 'Nguyen', 'David')
(None, 'Patel', 'Ravi')
(None, 'Yamada', 'Hiroshi')
(None, 'Gonzalez', 'Maria')
(10248, 'Buchanan', 'Steven')
(10249, 'Suyama', 'Michael')
(10250, 'Peacock', 'Margaret')
(10251, 'Leverling', 'Janet')
(10252, 'Peacock', 'Margaret')
(10253, 'Leverling', 'Janet')
(10254, 'Buchanan', 'Steven')
(10255, 'Suyama', 'Michael')
(10256, 'Leverling', 'Janet')
(10257, 'Davolio', 'Nancy')
(10258, 'Fuller', 'Andrew')
(10259, 'Peacock', 'Margaret')
(10260, 'Peacock', 'Margaret')
(10261, 'Fuller', 'Andrew')
(10262, 'Davolio', 'Nancy')
(10263, 'Buchanan', 'Steven')
(10264, 'Leverling', 'Janet')
(10265, 'Fuller', 'Andrew')
(10266, 'Peacock', 'Margaret')
(10267, 'Suyama', 'Michael')

In [108]:
query("""SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;""")

(None, 10248)
(None, 10249)
(None, 10250)
(None, 10251)
(None, 10252)
(None, 10253)
(None, 10255)
(None, 10256)
(None, 10257)
(None, 10258)
(None, 10259)
(None, 10260)
(None, 10261)
(None, 10262)
(None, 10263)
(None, 10264)
(None, 10265)
(None, 10266)
(None, 10267)
('Alfreds Futterkiste', None)
('Ana Trujillo Emparedados y helados', None)
('Antonio Moreno Taquería', None)
('Around the Horn', None)
('Berglunds snabbköp', None)
('Blauer See Delikatessen', None)
('Blondel père et fils', None)
("Bon app'", None)
('Bottom-Dollar Marketse', None)
('Bólido Comidas preparadas', None)
('Cactus Comidas para llevar', None)
('Centro comercial Moctezuma', None)
('Chop-suey Chinese', None)
('Comércio Mineiro', 10254)
('Consolidated Holdings', None)
('Drachenblut Delikatessen', None)
('Du monde entier', None)
('Eastern Connection', None)
('Ernst Handel', None)
('Familia Arquibaldo', None)

In [109]:
query("""SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;""")

('Around the Horn', 'Consolidated Holdings', 'London')
('Around the Horn', 'Eastern Connection', 'London')
('Consolidated Holdings', 'Around the Horn', 'London')
('Consolidated Holdings', 'Eastern Connection', 'London')
('Eastern Connection', 'Around the Horn', 'London')
('Eastern Connection', 'Consolidated Holdings', 'London')
('Ana Trujillo Emparedados y helados', 'Antonio Moreno Taquería', 'México D.F.')
('Ana Trujillo Emparedados y helados', 'Centro comercial Moctezuma', 'México D.F.')
('Antonio Moreno Taquería', 'Ana Trujillo Emparedados y helados', 'México D.F.')
('Antonio Moreno Taquería', 'Centro comercial Moctezuma', 'México D.F.')
('Centro comercial Moctezuma', 'Ana Trujillo Emparedados y helados', 'México D.F.')
('Centro comercial Moctezuma', 'Antonio Moreno Taquería', 'México D.F.')

In [110]:
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS Suppliers (
    SupplierID INTEGER PRIMARY KEY,
    SupplierName TEXT,
    ContactName TEXT,
    Address TEXT,
    City TEXT,
    PostalCode TEXT,
    Country TEXT
);
""")

# 데이터 삽입 (중복 방지)
cursor.execute("SELECT COUNT(*) FROM Suppliers")
if cursor.fetchone()[0] == 0:
    cursor.executescript("""
    INSERT INTO Suppliers (SupplierID, SupplierName, ContactName, Address, City, PostalCode, Country) VALUES
    (1, 'Exotic Liquid', 'Charlotte Cooper', '49 Gilbert St.', 'London', 'EC1 4SD', 'UK'),
    (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA'),
    (3, 'Grandma Kelly''s Homestead', 'Regina Murphy', '707 Oxford Rd.', 'Ann Arbor', '48104', 'USA'),
    (4, 'Tokyo Traders', 'Yoshi Nagase', '9-8 Sekimai Musashino-shi', 'Tokyo', '100-0001', 'Japan'),
    (5, 'Cooperativa de Quesos', 'Antonio del Valle Saavedra', 'Calle del Rosal 4', 'Oviedo', '33007', 'Spain'),
    (6, 'Mayumi''s', 'Mayumi Ohno', '92 Setsuko Chuo-ku', 'Osaka', '545-0035', 'Japan'),
    (7, 'Pavlova, Ltd.', 'Ian Devling', '74 Rose St. Moonie Ponds', 'Melbourne', '3058', 'Australia'),
    (8, 'Specialty Biscuits, Ltd.', 'Peter Wilson', '29 King''s Way', 'Manchester', 'M14 GSD', 'UK'),
    (9, 'PB Knäckebröd AB', 'Lars Peterson', 'Kaloadagatan 13', 'Göteborg', 'S-345 67', 'Sweden'),
    (10, 'Refrescos Americanas LTDA', 'Carlos Diaz', 'Av. das Americanas 12.890', 'Sao Paulo', '54420-000', 'Brazil'),
    (11, 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', 'Tiergartenstraße 5', 'Berlin', '10785', 'Germany'),
    (12, 'Zaanse Snoepfabriek', 'Dirk Luiten', 'Verkoopweg 12', 'Zaandam', '9999 ZZ', 'Netherlands'),
    (13, 'Formaggi Fortini s.r.l.', 'Elio Rossi', 'Viale Dante, 75', 'Ravenna', '48100', 'Italy'),
    (14, 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Sven Petersen', 'Hammerweg 123', 'Cuxhaven', '27478', 'Germany'),
    (15, 'Norske Meierier', 'Beate Vileid', 'Hatlevegen 5', 'Sandvika', '1321', 'Norway'),
    (16, 'Leka Trading', 'Chandra Leka', '471 Serangoon Rd.', 'Singapore', '218150', 'Singapore'),
    (17, 'Lyngbysild', 'Lene Andersen', 'Lyngbyvej 24', 'København', '2100', 'Denmark'),
    (18, 'Aux joyeux ecclésiastiques', 'Guylène Nodier', '203, Rue des Francs-Bourgeois', 'Paris', '75004', 'France'),
    (19, 'Bigfoot Breweries', 'Cheryl Saylor', '3400 - 8th Avenue Suite 210', 'Bend', '97701', 'USA'),
    (20, 'Svensk Sjöföda AB', 'Michael Björn', 'Brovallavägen 231', 'Stockholm', '113 42', 'Sweden');
    """)

conn.commit()

In [111]:
query("""SELECT City FROM Customers
UNION
SELECT City FROM Suppliers
ORDER BY City;""")

('Aachen',)
('Ann Arbor',)
('Bend',)
('Berlin',)
('Bern',)
('Buenos Aires',)
('Cuxhaven',)
('Graz',)
('Göteborg',)
('København',)
('London',)
('Luleå',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('México D.F.',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Rio de Janeiro',)
('Sandvika',)
('Sao Paulo',)
('Singapore',)
('Stockholm',)
('Strasbourg',)
('São Paulo',)
('Tokyo',)
('Tsawassen',)
('Zaandam',)

In [112]:
query("""SELECT City FROM Customers
UNION ALL
SELECT City FROM Suppliers
ORDER BY City;""")

('Aachen',)
('Ann Arbor',)
('Bend',)
('Berlin',)
('Berlin',)
('Bern',)
('Buenos Aires',)
('Cuxhaven',)
('Graz',)
('Göteborg',)
('København',)
('London',)
('London',)
('London',)
('London',)
('Luleå',)
('Madrid',)
('Manchester',)
('Mannheim',)
('Marseille',)
('Melbourne',)
('México D.F.',)
('México D.F.',)
('México D.F.',)
('Nantes',)
('New Orleans',)
('Osaka',)
('Oviedo',)
('Paris',)
('Ravenna',)
('Rio de Janeiro',)
('Sandvika',)
('Sao Paulo',)
('Singapore',)
('Stockholm',)
('Strasbourg',)
('São Paulo',)
('Tokyo',)
('Tsawassen',)
('Zaandam',)

In [113]:
query("""SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;""")

('Aachen', 'Germany')
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Mannheim', 'Germany')

In [114]:
query("""SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION ALL
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;""")

('Aachen', 'Germany')
('Berlin', 'Germany')
('Berlin', 'Germany')
('Cuxhaven', 'Germany')
('Mannheim', 'Germany')

In [115]:
query("""SELECT 'Customer' AS Type, ContactName, City, Country
FROM Customers
UNION
SELECT 'Supplier', ContactName, City, Country
FROM Suppliers;""")

('Customer', 'Ana Trujillo', 'México D.F.', 'Mexico')
('Customer', 'Ann Devon', 'London', 'UK')
('Customer', 'Antonio Moreno', 'México D.F.', 'Mexico')
('Customer', 'Aria Cruz', 'Rio de Janeiro', 'Brazil')
('Customer', 'Christina Berglund', 'Luleå', 'Sweden')
('Customer', 'Elizabeth Brown', 'London', 'UK')
('Customer', 'Elizabeth Lincoln', 'Tsawassen', 'Canada')
('Customer', 'Francisco Chang', 'México D.F.', 'Mexico')
('Customer', 'Frédérique Citeaux', 'Strasbourg', 'France')
('Customer', 'Hanna Moos', 'Mannheim', 'Germany')
('Customer', 'Janine Labrune', 'Nantes', 'France')
('Customer', 'Laurence Lebihan', 'Marseille', 'France')
('Customer', 'Maria Anders', 'Berlin', 'Germany')
('Customer', 'Martín Sommer', 'Madrid', 'Spain')
('Customer', 'Patricio Simpson', 'Buenos Aires', 'Argentina')
('Customer', 'Pedro Afonso', 'São Paulo', 'Brazil')
('Customer', 'Roland Mendel', 'Graz', 'Austria')
('Customer', 'Sven Ottlieb', 'Aachen', 'Germany')
('Customer', 'Thomas Hardy', 'London', 'UK')
('Customer', 'Yang Wang', 'Bern', 'Switzerland')
('Supplier', 'Antonio del Valle Saavedra', 'Oviedo', 'Spain')
('Supplier', 'Beate Vileid', 'Sandvika', 'Norway')
('Supplier', 'Carlos Diaz', 'Sao Paulo', 'Brazil')
('Supplier', 'Chandra Leka', 'Singapore', 'Singapore')
('Supplier', 'Charlotte Cooper', 'London', 'UK')
('Supplier', 'Cheryl Saylor', 'Bend', 'USA')
('Supplier', 'Dirk Luiten', 'Zaandam', 'Netherlands')
('Supplier', 'Elio Rossi', 'Ravenna', 'Italy')
('Supplier', 'Guylène Nodier', 'Paris', 'France')
('Supplier', 'Ian Devling', 'Melbourne', 'Australia')
('Supplier', 'Lars Peterson', 'Göteborg', 'Sweden')
('Supplier', 'Lene Andersen', 'København', 'Denmark')
('Supplier', 'Mayumi Ohno', 'Osaka', 'Japan')
('Supplier', 'Michael Björn', 'Stockholm', 'Sweden')
('Supplier', 'Peter Wilson', 'Manchester', 'UK')
('Supplier', 'Petra Winkler', 'Berlin', 'Germany')
('Supplier', 'Regina Murphy', 'Ann Arbor', 'USA')
('Supplier', 'Shelley Burke', 'New Orleans', 'USA')
('Supplier', 'Sven Petersen', 'Cuxhaven', 'Germany')
('Supplier', 'Yoshi Nagase', 'Tokyo', 'Japan')

In [116]:
query("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;""")

(1, 'Argentina')
(1, 'Austria')
(2, 'Brazil')
(1, 'Canada')
(3, 'France')
(3, 'Germany')
(3, 'Mexico')
(1, 'Spain')
(1, 'Sweden')
(1, 'Switzerland')
(3, 'UK')

In [117]:
query("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;""")

(3, 'UK')
(3, 'Mexico')
(3, 'Germany')
(3, 'France')
(2, 'Brazil')
(1, 'Switzerland')
(1, 'Sweden')
(1, 'Spain')
(1, 'Canada')
(1, 'Austria')
(1, 'Argentina')

In [118]:
query("""SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;""")

('Federal Shipping', 5)
('Speedy Express', 6)
('United Package', 9)

In [121]:
query("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 2;""")

(3, 'France')
(3, 'Germany')
(3, 'Mexico')
(3, 'UK')

In [123]:
query("""SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 2
ORDER BY COUNT(CustomerID) DESC;""")

(3, 'UK')
(3, 'Mexico')
(3, 'Germany')
(3, 'France')

In [125]:
query("""SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM (Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID)
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 3;""")

('Leverling', 4)
('Peacock', 5)

In [130]:
query("""SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
WHERE LastName = 'Davolio' OR LastName = 'Fuller'
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 2;""")

('Fuller', 3)

In [131]:
query("""SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);""")

('Exotic Liquid',)

In [132]:
query("""SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price = 22);""")

('New Orleans Cajun Delights',)

In [ ]:
query("""
SELECT ProductName
FROM Products
WHERE ProductID IN (
    SELECT ProductID
    FROM OrderDetails
    WHERE Quantity = 5
);""")  # SQLlite에서는 ANY를 지원하지 않음

('Chang',)
('Aniseed Syrup',)

In [139]:
query("""SELECT ProductName
FROM Products
WHERE ProductID IN
  (SELECT ProductID
  FROM OrderDetails
  WHERE Quantity > 10);""")

In [140]:
query("""SELECT ProductName
FROM Products
WHERE ProductID IN
  (SELECT ProductID
  FROM OrderDetails
  WHERE Quantity > 1000);""")

In [141]:
query("""SELECT ALL ProductName
FROM Products
WHERE TRUE;""")

('Chais',)
('Chang',)
('Aniseed Syrup',)
("Chef Anton's Cajun Seasoning",)
("Chef Anton's Gumbo Mix",)

In [143]:
query("""SELECT ProductName
FROM Products
WHERE ProductID IN (
  SELECT ProductID
  FROM OrderDetails
  WHERE Quantity = 10
)
GROUP BY ProductID
HAVING COUNT(*) = (
  SELECT COUNT(DISTINCT ProductID)
  FROM OrderDetails
  WHERE Quantity = 10
);""")  # SQLite는 ALL 지원 안함

In [145]:
query("""
CREATE TABLE CustomersBackup2017 AS
SELECT * FROM Customers;
""")    # SQLite에선 INTO 지원 안함

In [146]:
query("""CREATE TABLE CustomersGermany AS
SELECT *
FROM Customers
WHERE Country = 'Germany';""")

In [148]:
query("""CREATE TABLE CustomersOrderBackup2017 AS
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID;""")

In [149]:
query("""INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers;""")

In [151]:
query("""INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
SELECT SupplierName, ContactName, Address, City, PostalCode, Country FROM Suppliers;""")

In [152]:
query("""INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers
WHERE Country='Germany';""")

In [153]:
query("""SELECT OrderID, Quantity,
CASE
    WHEN Quantity > 30 THEN 'The quantity is greater than 30'
    WHEN Quantity = 30 THEN 'The quantity is 30'
    ELSE 'The quantity is under 30'
END AS QuantityText
FROM OrderDetails;""")

(1001, 2, 'The quantity is under 30')
(1001, 1, 'The quantity is under 30')
(1002, 5, 'The quantity is under 30')
(1003, 1, 'The quantity is under 30')
(1003, 2, 'The quantity is under 30')
(1004, 3, 'The quantity is under 30')
(1004, 1, 'The quantity is under 30')
(1005, 4, 'The quantity is under 30')
(1006, 2, 'The quantity is under 30')
(1007, 1, 'The quantity is under 30')
(1007, 2, 'The quantity is under 30')
(1008, 3, 'The quantity is under 30')
(1009, 2, 'The quantity is under 30')
(1010, 4, 'The quantity is under 30')
(1011, 1, 'The quantity is under 30')
(1011, 2, 'The quantity is under 30')
(1012, 5, 'The quantity is under 30')
(1013, 1, 'The quantity is under 30')
(1013, 2, 'The quantity is under 30')
(1014, 3, 'The quantity is under 30')

In [154]:
query("""SELECT CustomerName, City, Country
FROM Customers
ORDER BY
(CASE
    WHEN City IS NULL THEN Country
    ELSE City
END);""")

('Drachenblut Delikatessen', 'Aachen', 'Germany')
("Grandma Kelly's Homestead", 'Ann Arbor', 'USA')
("Grandma Kelly's Homestead", 'Ann Arbor', 'USA')
('Bigfoot Breweries', 'Bend', 'USA')
('Bigfoot Breweries', 'Bend', 'USA')
('Alfreds Futterkiste', 'Berlin', 'Germany')
('Heli Süßwaren GmbH & Co. KG', 'Berlin', 'Germany')
('Heli Süßwaren GmbH & Co. KG', 'Berlin', 'Germany')
('Heli Süßwaren GmbH & Co. KG', 'Berlin', 'Germany')
('Chop-suey Chinese', 'Bern', 'Switzerland')
('Cactus Comidas para llevar', 'Buenos Aires', 'Argentina')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Nord-Ost-Fisch Handelsgesellschaft mbH', 'Cuxhaven', 'Germany')
('Ernst Handel', 'Graz', 'Austria')
('PB Knäckebröd AB', 'Göteborg', 'Sweden')
('PB Knäckebröd AB', 'Göteborg', 'Sweden')
('Lyngbysild', 'København', 'Denmark')
('Lyngbysild', 'København', 'Denmark')
('Around the Horn', 'London', 'UK')
('Consolidated Holdings', 'London', 'UK')
('Eastern Connection', 'London', 'UK')
('Exotic Liquid', 'London', 'UK')
('Exotic Liquid', 'London', 'UK')
('Berglunds snabbköp', 'Luleå', 'Sweden')
('Bólido Comidas preparadas', 'Madrid', 'Spain')
('Specialty Biscuits, Ltd.', 'Manchester', 'UK')
('Specialty Biscuits, Ltd.', 'Manchester', 'UK')
('Blauer See Delikatessen', 'Mannheim', 'Germany')
("Bon app'", 'Marseille', 'France')
('Pavlova, Ltd.', 'Melbourne', 'Australia')
('Pavlova, Ltd.', 'Melbourne', 'Australia')
('Ana Trujillo Emparedados y helados', 'México D.F.', 'Mexico')
('Antonio Moreno Taquería', 'México D.F.', 'Mexico')
('Centro comercial Moctezuma', 'México D.F.', 'Mexico')
('Du monde entier', 'Nantes', 'France')
('New Orleans Cajun Delights', 'New Orleans', 'USA')
('New Orleans Cajun Delights', 'New Orleans', 'USA')
("Mayumi's", 'Osaka', 'Japan')
("Mayumi's", 'Osaka', 'Japan')
('Cooperativa de Quesos', 'Oviedo', 'Spain')
('Cooperativa de Quesos', 'Oviedo', 'Spain')
('Aux joyeux ecclésiastiques', 'Paris', 'France')
('Aux joyeux ecclésiastiques', 'Paris', 'France')
('Formaggi Fortini s.r.l.', 'Ravenna', 'Italy')
('Formaggi Fortini s.r.l.', 'Ravenna', 'Italy')
('Familia Arquibaldo', 'Rio de Janeiro', 'Brazil')
('Norske Meierier', 'Sandvika', 'Norway')
('Norske Meierier', 'Sandvika', 'Norway')
('Refrescos Americanas LTDA', 'Sao Paulo', 'Brazil')
('Refrescos Americanas LTDA', 'Sao Paulo', 'Brazil')
('Leka Trading', 'Singapore', 'Singapore')
('Leka Trading', 'Singapore', 'Singapore')
('Svensk Sjöföda AB', 'Stockholm', 'Sweden')
('Svensk Sjöföda AB', 'Stockholm', 'Sweden')
('Blondel père et fils', 'Strasbourg', 'France')
('Comércio Mineiro', 'São Paulo', 'Brazil')
('Tokyo Traders', 'Tokyo', 'Japan')
('Tokyo Traders', 'Tokyo', 'Japan')
('Bottom-Dollar Marketse', 'Tsawassen', 'Canada')
('Zaanse Snoepfabriek', 'Zaandam', 'Netherlands')
('Zaanse Snoepfabriek', 'Zaandam', 'Netherlands')

In [157]:
# SQLite는 Stored procedure을 지원하지 않음